@font-face {
  font-family: "codicon";
  src: url(file:///android_asset/code-oss/editor/monaco-editor/min/vs/base/browser/ui/codicons/codicon/codicon.ttf);
}

html,
body,
#container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  font-family: "codicon";
}
